[Desktop Entry]
Name=Turka Wine Yöneticisi
Comment=Wine ve Windows bileşenlerini kolayca kurun
Exec=turka-wine
Icon=turka-wine
Terminal=false
Type=Application
Categories=Utility;System;
